@font-face {
  font-family: "DIN Next LT Arabic";
  src: url("./../fonts/DINNextLTArabic-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "DIN Next LT Arabic";
  src: url("./../fonts/DINNextLTArabic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "DIN Next LT Arabic";
  src: url("./../fonts/DINNextLTArabic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
